.container__container {
  width: 100%;
  max-width: 550px;
  margin: 0 auto;
}
/* ------------------------------------------ */
/* FONTS
/* ------------------------------------------ */
@font-face {
  font-family: "BrutalType";
  font-weight: 900;
  font-style: normal;
  src: url("../fonts/BrutalType/900/BrutalType-Black.woff2") format("woff2"), url("../fonts/BrutalType/900/BrutalType-Black.woff") format("woff"), url("../fonts/BrutalType/900/BrutalType-Black.otf") format("opentype");
}
@font-face {
  font-family: "BrutalType";
  font-weight: 800;
  font-style: normal;
  src: url("../fonts/BrutalType/800/BrutalType-ExtraBold.woff2") format("woff2"), url("../fonts/BrutalType/800/BrutalType-ExtraBold.woff") format("woff"), url("../fonts/BrutalType/800/BrutalType-ExtraBold.otf") format("opentype");
}
@font-face {
  font-family: "BrutalType";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/BrutalType/700/BrutalType-Bold.woff2") format("woff2"), url("../fonts/BrutalType/700/BrutalType-Bold.woff") format("woff"), url("../fonts/BrutalType/700/BrutalType-Bold.otf") format("opentype");
}
@font-face {
  font-family: "BrutalType";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/BrutalType/500/BrutalType-Medium.woff2") format("woff2"), url("../fonts/BrutalType/500/BrutalType-Medium.woff") format("woff"), url("../fonts/BrutalType/500/BrutalType-Medium.otf") format("opentype");
}
@font-face {
  font-family: "BrutalType";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/BrutalType/400/BrutalType-Regular.woff2") format("woff2"), url("../fonts/BrutalType/400/BrutalType-Regular.woff") format("woff"), url("../fonts/BrutalType/400/BrutalType-Regular.otf") format("opentype");
}
@font-face {
  font-family: "BrutalType";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/BrutalType/300/BrutalType-Light.woff2") format("woff2"), url("../fonts/BrutalType/300/BrutalType-Light.woff") format("woff"), url("../fonts/BrutalType/300/BrutalType-Light.otf") format("opentype");
}
@font-face {
  font-family: "BrutalType";
  font-weight: 200;
  font-style: normal;
  src: url("../fonts/BrutalType/200/BrutalType-ExtraLight.woff2") format("woff2"), url("../fonts/BrutalType/200/BrutalType-ExtraLight.woff") format("woff"), url("../fonts/BrutalType/200/BrutalType-ExtraLight.otf") format("opentype");
}
@font-face {
  font-family: "BrutalType";
  font-weight: 100;
  font-style: normal;
  src: url("../fonts/BrutalType/100/BrutalType-Thin.woff2") format("woff2"), url("../fonts/BrutalType/100/BrutalType-Thin.woff") format("woff"), url("../fonts/BrutalType/100/BrutalType-Thin.otf") format("opentype");
}
/* ------------------------------------------ */
/* GLOBAL
/* ------------------------------------------ */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
  color: #ffffff;
  background-color: #2d3131;
  -webkit-font-smoothing: antialiased;
}
body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  height: 100vh;
  background: url(../img/header/header__bg.png), url(../img/footer/footer__bg.png), url(../img/main/main__bg.png);
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: 25% 10%, center bottom, center center;
  background-size: 75%, contain, cover;
  font-family: "BrutalType", Arial, sans-serif;
}
img {
  width: 100%;
  height: auto;
}
.visible {
  display: block;
}
.hidden {
  display: none;
}
/* ------------------------------------------ */
/* MAIN BLOCK
/* ------------------------------------------ */
.main {
  display: -ms-flexbox;
  display: flex;
  padding: 15px;
  -ms-flex: 1 0 auto;
      flex: 1 0 auto;
  -ms-flex-align: center;
      align-items: center;
}
.main__container {
  width: 100%;
  max-width: 550px;
  margin: 0 auto;
}
.main h1 {
  margin-bottom: 20px;
  text-transform: uppercase;
  font-size: 26px;
  font-weight: 400;
  line-height: 1;
}
.main p {
  display: block;
  font-size: 17px;
  font-weight: 200;
  line-height: 24px;
}
.main p span {
  white-space: nowrap;
  font-weight: 400;
}
/* ------------------------------------------ */
/* LOGO BLOCK
/* ------------------------------------------ */
.logo {
  width: 100%;
  max-width: 100px;
  margin: 0 auto 60px;
}
.logo a {
  text-decoration: none;
  pointer-events: none;
  outline: none;
}
.logo a:hover {
  text-decoration: none;
  outline: none;
}
/* ------------------------------------------ */
/* SUBSCRIBE BLOCK
/* ------------------------------------------ */
.subscribe form {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  width: 100%;
  margin: 20px 0;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
.subscribe input {
  width: 100%;
  max-width: 160px;
  margin-right: 10px;
  padding: 3px;
  color: #009aff;
  border: 1px solid #009aff;
  border-radius: 3px;
  background: transparent;
  box-shadow: none;
}
.subscribe input:focus {
  outline: none;
}
.subscribe button {
  display: block;
  width: 21px;
  height: 21px;
  color: #009aff;
  border: 1px solid #009aff;
  border-radius: 50%;
  background: transparent;
  box-shadow: none;
  font-size: 0;
}
.subscribe button:focus,
.subscribe button:active {
  outline: none;
}
/* ------------------------------------------ */
/* CONTACTS BLOCK
/* ------------------------------------------ */
.contacts {
  width: 100%;
  margin: 20px 0;
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
}
.contacts a:nth-child(1) {
  position: relative;
  margin-right: 40px;
}
.contacts a:nth-child(1):after {
  position: absolute;
  top: -10px;
  right: -20px;
  width: 1px;
  height: 40px;
  content: "";
  background: #009aff;
}
/* ------------------------------------------ */
/* LINK BLOCK
/* ------------------------------------------ */
.link {
  text-decoration: none;
  color: #009aff;
}
.link:hover,
.link:active {
  text-decoration: underline;
  color: #009aff;
}
.link--bordered {
  display: inline-block;
  margin-left: 7px;
  padding: 1px 3px;
  border: 1px solid #009aff;
  border-radius: 3px;
  font-size: 15px;
  font-weight: 700;
  line-height: 1;
}
.link--bordered:hover,
.link--bordered:active {
  text-decoration: none;
  color: #2d3131;
  border: 1px solid #009aff;
  background: #009aff;
}
/* ------------------------------------------ */
/* FOOTER BLOCK
/* ------------------------------------------ */
.footer {
  padding: 15px;
  -ms-flex: 0 0 auto;
      flex: 0 0 auto;
}
.footer__container {
  width: 100%;
  max-width: 550px;
  margin: 0 auto;
}
.footer__social {
  text-align: center;
}
.footer__social a {
  text-decoration: none;
  color: #ffffff;
}
.footer__social a:hover,
.footer__social a:active {
  text-decoration: none;
  color: #009aff;
}
.footer__copyright {
  text-align: center;
  font-size: 11px;
}
