/* ------------------------------------------ */
/* GLOBAL
/* ------------------------------------------ */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	height: 100%;

	color: @palette__primary;
	background-color: @palette__tertiary;

	-webkit-font-smoothing: antialiased;
}

body {
	display: flex;
	flex-direction: column;

	height: 100vh;

	background: url(../img/header/header__bg.png),
	url(../img/footer/footer__bg.png),
	url(../img/main/main__bg.png);
	background-repeat: no-repeat, no-repeat, no-repeat;
	background-position: 25% 10%, center bottom, center center;
	background-size: 75%, contain, cover;

	font-family: "BrutalType", Arial, sans-serif;
}

img {
	width: 100%;
	height: auto;
}

.visible {
	display: block;
}

.hidden {
	display: none;
}
