/* ------------------------------------------ */
/* CONTACTS BLOCK
/* ------------------------------------------ */
.contacts {
	width: 100%;
	margin: 20px 0;

	font-size: 20px;
	font-weight: 500;
	line-height: 1;

	a {
		&:nth-child(1) {
			position: relative;

			margin-right: 40px;

			&:after {
				position: absolute;
				top: -10px;
				right: -20px;

				width: 1px;
				height: 40px;

				content: "";

				background: @palette__secondary;
			}
		}
	}
}
