/* ------------------------------------------ */
/* FOOTER BLOCK
/* ------------------------------------------ */
.footer {
	padding: 15px;

	flex: 0 0 auto;
	.container();
}


.footer__social {
	display: block;

	text-align: center;

	a {
		display: inline-block;

		margin: 5px;

		text-decoration: none;

		color: @palette__primary;

		font-size: 19px;

		&:hover,
		&:active {
			text-decoration: none;

			color: @palette__secondary;
		}
	}
}

.footer__copyright {
	display: block;

	margin: 10px 0;

	text-align: center;

	font-size: 10px;
}
